$background-color: #121212;
$nav-bar-color: #2a2a2a;
$highlight-color: #007dfc;
$highlight-color-hover: #98bee4;
$light-text-color: #fefefe;
$secondary-text-color: #999;
$alert-color: #bf0500;

$card-height: 400px;
$card-width: 300px;
